{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class='row'>

<div class="col-md-4">
<div><h1>Hello, {{ user.username }}!</h1></div>

<div class="card" style="width: 75%">
<div class="card-body">
<ul class="list-group list-group-flush">
    <li class="list-group-item">Your first name: {{ user.customer.first_name }}</li>
    <li class="list-group-item">Your last name: {{ user.customer.last_name }}</li>
    <li class="list-group-item">Your email: {{ user.email }}</li>
    <li class="list-group-item">Your phone number: {{ user.customer.phone_number }}</li>
    {% if user.customer.total_bonuses > 0 %}
    <li class="list-group-item"><button id="bonuses-button" class="btn btn-primary">Your number of bonuses: {{ user.customer.total_bonuses }} </button></li>
    {% else %}
    <li class="list-group-item">You don't have any bonuses yet! Order something so we can add you some bonuses!</li>
    {% endif %}
</ul>
</div>
</div>
</div>

<div class="col-md-4">
<h1>Your orders:</h1>
<div class="card" style="overflow-y: scroll; height: 50vh; width: 75%">
    {% for order in user.customer.order_set.all %}
    {% if order.transaction_id != None %}
    <button id={{ order.id }} class="btn btn-primary order-button" style="margin: 0; margin-top: 5px">Order # {{ order.transaction_id }}{% if order.served %} <p>Closed</p> {% else %} <p>Active</p> {% endif %}</button>
    {% endif %}
    {% endfor %}
</div>
</div>
<div id="additional-info" class="col-md-4">

</div>

</div>


<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type='text/babel'>

    class BonusInfo extends React.Component {
        constructor(props) {
            super(props)
        }
        render () {
            return(
            <li key={this.props.bonus.number_of_bonuses} >{this.props.bonus.number_of_bonuses} - {this.props.bonus.date_added}</li>
        )
        }
    }

    class Bonuses extends React.Component {
        constructor(props) {
          super(props);
         }
        render() {
                let bonuses = []
                for (let i = 0; i < this.props.bonuses_set.length; i++) {
                    bonuses.push(<BonusInfo key={i} bonus={this.props.bonuses_set[i]} />)
                }
                let styles = {
                    width: "75%",
                    height: "50vh",
                    overflowY: "scroll"
                }
                return (
                    <div>
                        <h1>Bonuses History</h1>
                        <div className="card card-account-info" style={styles}>
                            <ul>
                                {bonuses}
                            </ul>
                        </div>
                    </div>
                    )
            }
}

let getBonuses = async () => {
    let response = await fetch('http://flaviusbelisarius.pythonanywhere.com/api/bonuses/')
    let data = await response.json()
    console.log('data1:', data)
    return data
}

const bonuses = document.getElementById('bonuses-button');
bonuses.addEventListener('click', function() {
        getBonuses().then(function(result) {
        ReactDOM.render(<Bonuses
                        bonuses_set = {result.bonuses_set}
                        />, document.getElementById('additional-info'))
        })})



class OrderItemSet extends React.Component {
        constructor(props) {
            super(props)
        }
        render () {
            return(
            <li key={this.props.item.product_id} >{this.props.item.product_id} - {this.props.item.quantity} items</li>
        )
        }
    }



class OrderItem extends React.Component {
        constructor(props) {
          super(props);
         }
        render() {
                let orderItems = []
                for (let i = 0; i < this.props.orderitem_set.length; i++) {
                    orderItems.push(<OrderItemSet key={this.props.orderitem_set[i].product_id} item={this.props.orderitem_set[i]} />)
                }
                let styles = {
                    width: "75%",
                    height: "50vh",
                    overflowY: "scroll"
                }
                return (
                    <div>
                    <h1>Order-info</h1>
                    <div className="card card-account-info" style={styles}>
                        <ul>
                            <li>Order #{this.props.transaction_id}</li>
                            <li>Customer First Name: {this.props.customer_id.first_name}</li>
                            <li>Customer Last Name: {this.props.customer_id.last_name}</li>
                            <li>Customer Phone Number: {this.props.customer_id.phone_number}</li>
                            <li>The date of the order: {this.props.date_ordered}</li>
                        </ul>
                        <h3>The contents of the order:</h3>
                        <ol>
                            {orderItems}
                        </ol>
                    </div>
                    </div>
                    )
            }
}

let getOrder = async (id=id) => {
    let response = await fetch('http://flaviusbelisarius.pythonanywhere.com/api/orders/' + id)
    let data = await response.json()
    console.log('data1:', data)
    return data
}

const orders = document.getElementsByClassName('order-button');

for (i = 0; i < orders.length; i++) {
    orders[i].addEventListener('click', function() {
        var id = this.id
        getOrder(id).then(function(result) {
        ReactDOM.render(<OrderItem
                        transaction_id={result.transaction_id}
                        date_ordered={result.date_ordered}
                        orderitem_set={result.orderitem_set}
                        customer_id={result.customer_id}
                        />, document.getElementById('additional-info'))
        })})
    }
</script>
{% endblock content %}








