{% extends 'main.html' %}
{% load static %}
{% block content %}
{{ user.id|json_script:"user-data" }}

{% csrf_token %}

<div class='row'>

<div class="col-md-4">
<div><h1>Hello, {{ user.username }}!</h1></div>

<div class="card" style="width: 75%">
<div id="personal-info-list">
</div>
<div id='management-buttons'>
    {% if user.customer.total_bonuses > 0 %}
    <li class="list-group-item"><button id="bonuses-button" class="btn btn-primary">Your number of bonuses: {{ user.customer.total_bonuses }} </button></li>
    {% else %}
    <p>You don't have any bonuses yet! Order something so we can add you some bonuses!</p>
    {% endif %}
    <button id="change-info-button" class="btn btn-primary">Change your personal information</button>
</div>
</div>
</div>

<div class="col-md-4">
<h1>Your orders:</h1>
<div class="card" style="overflow-y: scroll; height: 50vh; width: 75%">
    {% for order in user.customer.order_set.all %}
    {% if order.transaction_id != None %}
    <button id={{ order.id }} class="btn btn-primary order-button" style="margin: 0; margin-top: 5px">Order # {{ order.id }}{% if order.served %} <p>Closed</p> {% else %} <p>Active</p> {% endif %}</button>
    {% endif %}
    {% endfor %}
</div>
</div>
<div id="additional-info" class="col-md-4">

</div>

</div>

	<script type="text/babel" src="{% static 'js/reactBonuses.js' %}"></script>

	<script type="text/babel" src="{% static 'js/updatePersonalInfo.js' %}"></script>

	<script type="text/babel" src="{% static 'js/reactOrders.js' %}"></script>

    <script type="text/babel">
	        initOrderButtons(false)
	        initBonusesButton()
    </script>
{% endblock content %}








