{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
<div id="all-orders-list" class="col-md-4" style="overflow-y: scroll; height: 100vh">

</div>

<div class="col-md-4" style="overflow-y: scroll; height: 100vh">
    <div>
        <h1>The order</h1>
    </div>

    <div id="bonuses-search">

    </div>
    <div class="phone-order-list">

    </div>
    <div id="additional-info">

    </div>
    <div id="order-management-buttons">

    </div>
</div>

<div class="col-md-4">

    <div id="bonuses-manipulation">

    </div>
</div>

    <script src="https://unpkg.com/redux@latest/dist/redux.min.js"></script>

    <script src="https://unpkg.com/react-redux@5.0.7/dist/react-redux.min.js"></script>

	<script type="text/babel" src="{% static 'js/reactOrders.js' %}"></script>

	<script type="text/babel" src="{% static 'js/allOrders.js' %}"></script>

	<script type="text/babel" src="{% static 'js/bonusesManipulation.js' %}"></script>

	<script type="text/babel">
	    initSearchInterface()
	</script>


{% endblock content %}









